<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Csc.IntelliSchool.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Error">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Error">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Error">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="14400" />
  </system.web>
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://Csc.IntelliSchool.Data/DataModel.csdl|res://Csc.IntelliSchool.Data/DataModel.ssdl|res://Csc.IntelliSchool.Data/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cscap02;initial catalog=Csc.IntelliSchool;persist security info=True;user id=sa;password=A#123456a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Default_EndpointBehavior">
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Default_BasicHttpBinding" allowCookies="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="FileHandlerService_BasicHttpBinding" maxBufferSize="104857600"
          maxReceivedMessageSize="104857600" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Csc.IntelliSchool.WebService.Services.Account.AccountService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Default_BasicHttpBinding" behaviorConfiguration="Default_EndpointBehavior"
          contract="Csc.IntelliSchool.WebService.Services.Account.IAccountService" />
      </service>
      <service name="Csc.IntelliSchool.WebService.Services.Common.CommonDataService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Default_BasicHttpBinding" behaviorConfiguration="Default_EndpointBehavior"
          contract="Csc.IntelliSchool.WebService.Services.Common.ICommonDataService" />
      </service>
      <service name="Csc.IntelliSchool.WebService.Services.HumanResources.EmployeesService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Default_BasicHttpBinding" behaviorConfiguration="Default_EndpointBehavior"
          contract="Csc.IntelliSchool.WebService.Services.HumanResources.IEmployeesService" />
      </service>
      <service name="Csc.IntelliSchool.WebService.Services.SystemAdmin.SystemAdminService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Default_BasicHttpBinding" behaviorConfiguration="Default_EndpointBehavior"
          contract="Csc.IntelliSchool.WebService.Services.SystemAdmin.ISystemAdminService" />
      </service>
      <service name="Csc.IntelliSchool.WebService.Services.FileHandler.FileHandlerService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="FileHandlerService_BasicHttpBinding" behaviorConfiguration="Default_EndpointBehavior"
          contract="Csc.IntelliSchool.WebService.Services.FileHandler.IFileHandlerService" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Csc.IntelliSchool.WebService.Properties.Settings>
      <setting name="FileHandler_PhotoMaxWidth" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="FileHandler_PhotoMaxHeight" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="FileHandler_PhotoDefaultExtension" serializeAs="String">
        <value>png</value>
      </setting>
      <setting name="FileHandler_BufferSize" serializeAs="String">
        <value>1048576</value>
      </setting>
      <setting name="FileHandler_DataDirectory" serializeAs="String">
        <value>~/App_Data</value>
      </setting>
    </Csc.IntelliSchool.WebService.Properties.Settings>
  </applicationSettings>
</configuration>